<%= render "layouts/header" %>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color: red;"> <%= e %> </p>
  <% end %>
<% else %>
  <h1>Edit Meeting</h1>
<% end %>
<% if @creator %>
  <%= render "form" %>
    <% else  %>
  <%= render "invitee_form" %>
  <% end %>
