<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p style="color: red;"> <%= e %> </p>
  <% end %>
<% else %>
  <%= render "layouts/header" %>
<% end %>

<h2>Add New Meeting:</h2>
<%= render "form" %>

<hr>
<%= link_to "My Meetings", user_path(current_user)%><br>
